{% include head.html %}
    <body>
        <div class="site">
          <div class="row header-container">
            <div class="large-9 columns">
							<h1>
								<a class="heading-header" href="/">{{ site.name }}</a>
								<small>{{ page.title }}</small>
							</h1>
						</div>
						<div class="large-3 columns right-header">
							<ul class="button-group even-3">
								<li><a class="nav-link tiny button" href="/blog">blog</a></li>
								<li><a class="nav-link tiny button" href="/work">work</a></li>
								<li><a class="nav-link tiny button" href="/about">about</a></li>
							</ul>
						</div>
          </div>
					<div class="row body-container">
						<div class="large-9 columns">
          		{{ content }}
						</div>
          	<div class="large-3 columns right-body">
						  {% include me.html %}
							{% include follows.html %}
          	</div>
					</div>
          <div class="footer">
						{% include footer.html %}
          </div>
        </div>
    </body>
</html>
